.meme-editor-container{
    display: none;
    background-color: bisque;
}

canvas {
    display: block;
    border: 3px solid rgb(221, 54, 54);
}

.canvas-container{
    width: fit-content;
    background-color: cadetblue;
}

.editor{
    background-color: burlywood;
}